body {
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 98vh;
}

.title {
  font-size: 18px;
  margin-bottom: 16px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.title a {
  text-decoration: none;
  color: inherit;
}

.title a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

.pokedex-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  height: 85vh;
  width: 60vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content {
  overflow-y: auto; /* Add this property to make it scrollable */
  height: 100%;
  text-align: justify;
  margin-top: 15px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

form {
  margin-bottom: 10px;
  position: relative;
}

#autocompleteList {
  position: absolute;
  width: 180px;
  max-height: 120px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  z-index: 1;
  display: none;
  bottom: 75%; /* Position the autocomplete list below the form */
}

#autocompleteList div {
  padding: 5px;
  cursor: pointer;
}

#autocompleteList div:hover {
  background-color: #f5f5f5;
}

#input-hint {
  color: #999999; /* Grey color when it's off */
  /* Add other styling properties as needed */
}

#input-hint.on {
  color: #007bff; /* Blue color when it's on */
  /* Add other styling properties as needed */
}

#input-hint {
  position: absolute;
  top: 45%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #999999;
  cursor: pointer;

  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-right: 30px; /* Add space for the hint text */
}

button {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

#check:hover {
  background-color: #45a049;
}

#check {
  background-color: #4caf50;
}

#refresh {
  background-color: #ff3d00;
}

#refresh:hover {
  background-color: #e65100;
}

#share {
  background-color: #007bff;
}

#share:hover {
  background-color: #0056b3;
}

#toast {
  margin-top: 10px;
}

@keyframes shake {
  0% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-10px); }
  20%, 40%, 60%, 80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

